
body{
    height: 100vh;
    max-height: 100%
}

.brandText{
    color:  lightskyblue;
    font-weight: bold;
    font-size: 3em;
    margin: 0em 2em;
    font-family: 'Merriweather', serif;
}
.brandText:hover{
    text-decoration: none;
    color:lightgray;
}
a.nav-link{
    font-size: 1.5em;
    margin: 0em 1em;
    font-weight: bold;
    font-family: 'Merriweather', serif;
}
#signIn{
    margin: 1em 0.5em;
    padding: 0.3em 1em;
    font-weight: bold;
    color: #343a40;
    border:0.2em #343a40 solid;
    background-color: lightskyblue;
}

.jumbotron{
    padding: 5em 0em 2em 0em;
    height: 100vh;
    max-height: 100%;
    background-color: white;

}

.carousel-inner{
    margin: auto;
    width: 80%
}
.carousel-item {
    height: 20rem;
  }

.carousel-image1{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url("meal.png");
    background-position: center;
    background-repeat: no-repeat;  
  }

.carousel-image2{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url("ingredients.png");
    background-repeat: no-repeat;
    background-position: center;
}
.carousel-indicators li.active{
    background-color: lightskyblue;
}


.introSection.row{
    text-align: center;
    color: white;
    padding-top:1em;
    width: 60%;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 2em;
    border-radius: 0.5em;
}
.introButtons button{
    margin: 1em 2em;
    padding: 0.5em 1em;
    font-weight: bold;
    color: #343a40;
    border:0.2em #343a40 solid;
    background-color: lightskyblue;
}

