body{
  height: 100vh;
  max-height: 100%
}

.brandText{
  color:  lightskyblue;
  font-weight: bold;
  font-size: 3em;
  margin: 0em 2em;
  font-family: 'Merriweather', serif;
}
.brandText:hover{
  text-decoration: none;
  color:lightgray;
}
a.nav-link{
  font-size: 1.5em;
  margin: 0em 1em;
  font-weight: bold;
  font-family: 'Merriweather', serif;
}
#signIn{
  margin: 1em 0.5em;
  padding: 0.3em 1em;
  font-weight: bold;
  color: #343a40;
  border:0.2em #343a40 solid;
  background-color: lightskyblue;
}

.jumbotron{
  padding: 5em 0em 2em 0em;
  height: 100vh;
  max-height: 100%;
  background-color: white;

}

.carousel-inner{
  margin: auto;
  width: 80%
}
.carousel-item {
  height: 20rem;
}

.carousel-image1{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url("meal.png");
  background-position: center;
  background-repeat: no-repeat;  
}

.carousel-image2{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url("ingredients.png");
  background-repeat: no-repeat;
  background-position: center;
}
.carousel-indicators li.active{
  background-color: lightskyblue;
}


.introSection.row{
  text-align: center;
  color: white;
  padding-top:1em;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 2em;

}
.introButtons button{
  margin: 1em 2em;
  padding: 0.5em 1em;
  font-weight: bold;
  color: #343a40;
  border:0.2em #343a40 solid;
  background-color: lightskyblue;
}



.modal-body, .modal-title {
  text-align: left;
  color: #343a40;
  font-family: 'Merriweather', serif;
  font-weight: bold;
  font-size: 1em;
 
}


.modal-header {
  background-color: lightskyblue;
}

.gigacalculator {
  height: 100%;
}

#gigaframe {
  line-height: 100%;
}

#myModalCalories {
  line-height: 100%;
}

#signInTitle {
  text-align: center;
  color: #343a40;
  font-family: 'Merriweather', serif;
  font-weight: bold;
  font-size: 1em;
}

@media (min-width: 768px) {
    .omb_row-sm-offset-3 div:first-child[class*="col-"] {
        margin-left: 25%;
    }
}

.omb_login .omb_authTitle {
    text-align: center;
	line-height: 300%;
}
	
.omb_login .omb_socialButtons a {
	color: white; // In yourUse @body-bg 
	opacity:0.9;
}
.omb_login .omb_socialButtons a:hover {
    color: white;
	opacity:1;    	
}

.omb_login .omb_socialButtons .omb_btn-google {background: #c32f10;}


.omb_login .omb_loginOr {
	position: relative;
	font-size: 1.5em;
	color: #aaa;
	margin-top: 1em;
	margin-bottom: 1em;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
}
.omb_login .omb_loginOr .omb_hrOr {
	background-color: #cdcdcd;
	height: 1px;
	margin-top: 0px !important;
	margin-bottom: 0px !important;
}
.omb_login .omb_loginOr .omb_spanOr {
	display: block;
	position: absolute;
	left: 50%;
	top: -0.6em;
	margin-left: -1.5em;
	background-color: white;
	width: 3em;
	text-align: center;
}			

.omb_login .omb_loginForm .input-group.i {
	width: 2em;
}
.omb_login .omb_loginForm  .help-block {
    color: red;
}

	
@media (min-width: 768px) {
    .omb_login .omb_forgotPwd {
        text-align: right;
		margin-top:10px;
 	}		
}